/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  min-width: 400px;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.group img {
  width: 100%;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

#menu {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  padding: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  margin-right: 5px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Queries ------- */

@media all and (min-width:480px) {


  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  form > div {
    display: block;
  }

  form button {
    width:unset;
  }

  form label {
    display: block;
  }

  .group {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  #about div:last-child {
    flex:2
  }

  #ideas .group .item{
    flex: 1 1 calc(50% - 50px);
  }

  @media all and (min-width:650px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
